SECRET_KEY = "PUTYOURSECRETKEYHERE"
FLATPAGES_ROOT = "pages"
FLATPAGES_EXTENSION = ".md"
FLATPAGES_MARKDOWN_EXTENSIONS = ["codehilite", "markdown_katex", "mdx_wikilink_plus", "mdx_linkify", "mdx_headdown"]
FLATPAGES_EXTENSION_CONFIGS = {
    "mdx_wikilink_plus": {
        "base_url": "/wiki/",
        "url_whitespace": " ",
        "label_case": "none",
    }
}
