#searchform {
  display: none;
  position: absolute;
  right: 250px;
  top: 5px;
}

.codehilite {
  width: 55%;
  padding: 0.3rem 1rem;
}

pre {
  overflow-x:auto; 
}

.timestamp {
  font-size: 1rem;
  color: #888;
}

#loginform {
  width: 55%;
  max-width: 55%;
  min-width: 55%;
}

#loginform input[type=text], input[type=password] {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  width: 70%;
}
#loginform input[type=checkbox] {
  width:5%;
  margin-bottom: 1.2rem;
}

form textarea {
  width: 55%;
  max-width: 55%;
  min-width: 55%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace!important;
}

form textarea#content {
  height: 500px;
}
form textarea#pagemeta {
  height: 100px;
}

form label {
  font-size:1.5rem;
}

input#path {
  width: 55%;
  font-size:2rem;
  max-width: 55%;
  min-width: 55%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

header > nav.group {
    width: 95%;
    padding-top: 2rem;
}

a:link {
    color: #111;
}
header > nav a:link {
    font-size: 1.2rem;
    font-family: "Gill Sans", "Gill Sans MT", "Lato", Calibri, sans-serif;;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #AF5555;
    color: #a00000;
    padding-top: 1.5rem;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 4rem;
    vertical-align: baseline;
    background: unset;
    text-shadow: unset;
}
footer {
  padding: 4rem 0rem;
}
