{% extends "layout.html" %}
{% block content %}
<div id="searchform">
    <form action="/search" method="post" accept-charset="utf-8">
	{{ form.csrf_token }} 
	{{ form.query() }}
	<input type="submit" value="go" name="Search" id="Search"/>
    </form>
</div>
<article>
    <h1>Recent Changes</h1>
    <section>
	<ul>
	    {% for mtime, timestamp, page in pages %}
	    <li><span class="timestamp">({{ timestamp }})</span> <br /> <a href="{{ url_for("show_page", path=page.path) }}">{{ page.path }}</a></li>
	    {% endfor %}    
	</ul> 
    </section>
</article>
{% endblock content %}
