{% extends "layout.html" %}
{% block content %}
<div id="searchform">
    <form action="/search" method="post" accept-charset="utf-8">
	{{ form.csrf_token }} 
	{{ form.query() }}
	<input type="submit" value="go" name="Search" id="Search"/>
    </form>
</div>
<article>

    <h1>{{ page.title }}</h1>

    {% if page.author %} 
    <p class="subtitle"><a href="{{ url_for("show_page", path="yy") }}" class="no-tufte-underline" style="color:#111;">YY Ahn</a>
    </p>
    {% endif %}
    <section>
	{{ page }}
    </section>
</article>
<footer><a href ="{{ url_for("home") }}">YYiki</a> &raquo; {{ page.path }} </footer>
{% endblock content %}
