{% extends "layout.html" %}
{% block content %}
<div id="searchform">
    <form action="/search" method="post" accept-charset="utf-8">
	{{ form.csrf_token }} 
	{{ form.query() }}
	<input type="submit" value="go" name="Search" id="Search"/>
    </form>
</div>
<article>
    <h1>Search Result for &ldquo;{{ page.path }}&rdquo; </h1>
    <section>
	{% if page_found %}
	<h2>We found</h2>
	<ul>
	    <li><a href="/wiki/{{ page.path }}">{{ page.title }}</a></li>
	</ul>
	{% else %}
	<h2>Create a page</h2>
	<ul>
	    <li><a href="/create/{{ page.path }}">{{ page.title }}</a></li>
	</ul>
	{% endif %}
    </section>
    <section>
	<h2>Did you mean ...</h2>
	<ul>
	    {% for similar_page_path in matches %}
	    <li><a href="/wiki/{{ similar_page_path }}">{{ similar_page_path }}</a></li>
	    {% endfor %}    
	</ul> 
    </section>
</article>
{% endblock content %}
